<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.power.kiwi.searchyourside" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LazyChargeActivity"
            android:label="@string/title_activity_lazy_charge"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".SmartButlerActivity"
            android:label="@string/title_activity_smart_butler"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".OptionsActivity"
            android:label="@string/title_activity_option" >
        </activity>
        <activity
            android:name=".StoreListActivity"
            android:label="@string/title_activity_food_list" >
        </activity>
        <activity
            android:name=".FoodListActivity"
            android:label="@string/title_activity_food_list" >
        </activity>
        <activity
            android:name=".EditStoreDataActivity"
            android:label="@string/title_activity_edit_store_data" >
        </activity>
    </application>

</manifest>
